USE [master]
GO
/****** Object:  Database [Coupon]    Script Date: 07/04/2019 22:40:06 ******/
CREATE DATABASE [Coupon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Coupon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Coupon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Coupon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Coupon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Coupon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Coupon]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 07/04/2019 22:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMP_NAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company_Coupon]    Script Date: 07/04/2019 22:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_Coupon](
	[COMP_ID] [bigint] NOT NULL,
	[COUPON_ID] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupon]    Script Date: 07/04/2019 22:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupon](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](50) NOT NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[AMOUNT] [int] NOT NULL,
	[TYPE] [nvarchar](50) NOT NULL,
	[MESSAGE] [nvarchar](50) NULL,
	[PRICE] [float] NOT NULL,
	[IMAGE] [nvarchar](50) NULL,
 CONSTRAINT [PK_Coupon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 07/04/2019 22:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CUST_NAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Coupon]    Script Date: 07/04/2019 22:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Coupon](
	[CUST_ID] [bigint] NOT NULL,
	[COUPON_ID] [bigint] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Company_Coupon]  WITH CHECK ADD  CONSTRAINT [FK_Company_Coupon_Company] FOREIGN KEY([COMP_ID])
REFERENCES [dbo].[Company] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Company_Coupon] CHECK CONSTRAINT [FK_Company_Coupon_Company]
GO
ALTER TABLE [dbo].[Company_Coupon]  WITH CHECK ADD  CONSTRAINT [FK_Company_Coupon_Coupon] FOREIGN KEY([COUPON_ID])
REFERENCES [dbo].[Coupon] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Company_Coupon] CHECK CONSTRAINT [FK_Company_Coupon_Coupon]
GO
ALTER TABLE [dbo].[Customer_Coupon]  WITH NOCHECK ADD  CONSTRAINT [FK_Customer_Coupon_Coupon] FOREIGN KEY([COUPON_ID])
REFERENCES [dbo].[Coupon] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer_Coupon] CHECK CONSTRAINT [FK_Customer_Coupon_Coupon]
GO
ALTER TABLE [dbo].[Customer_Coupon]  WITH NOCHECK ADD  CONSTRAINT [FK_Customer_Coupon_Customer] FOREIGN KEY([CUST_ID])
REFERENCES [dbo].[Customer] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer_Coupon] CHECK CONSTRAINT [FK_Customer_Coupon_Customer]
GO
USE [master]
GO
